body.home{


   #header{
        height: auto;

        .header-in{
            margin: 0 1rem auto;
            position: relative;
            max-width: 100%;
        }

       
    }

}


@media only screen and (max-width: 64rem) {
    body.home{

        
       
    
    }
}