body.vcard{

    #header{
        position: fixed;
        background: transparent;
        z-index: 100;

        .header-in{
            margin: 3rem 1rem;
            
            #main-menu{
                .navbar-brand{
                    .logo{
                        background: url("../images/logo_w.svg") no-repeat 0 0;
                        background-size: auto auto;
                    }
                }
                ul{
                    display: none;
                }
            }
        }

       
    }

}


@media only screen and (max-width: 64rem) {
    body.vcard{

        #header{
            position: relative;

            .header-in{
                margin: 1rem 0 0;
            

                #main-menu{
                    .navbar-brand{
                        .logo{
                            background: url("../images/logo.svg") no-repeat 0 0!important;
                            background-size: auto auto;
                        }
                    }
                }
            }
        }    
    
    }
}