
/*slider customization*/

.slide-container{
    position: relative;
}
.slide-container .prev{
    position: absolute;
    top:50%;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,.6);
    padding:1em;
    color:white;
    text-decoration: none;
}
.slide-container .next{
    position: absolute;
    top:50%;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,.6);
    padding:1em;
    color:white;
    text-decoration: none;
}
/*hide the pagination until rollover*/
.rslides_nav{
    visibility: hidden;
    opacity: 0;
    transition:all .5s ease-out;
}
.slide-container:hover .rslides_nav,
.slide-container:hover .rslides_tabs{
    visibility: visible;
    opacity: 1;
}
/*"dots"*/

.rslides_tabs{
    position: absolute;
    bottom:-2em;
    left:0;
    width:100%;
    text-align: center;
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition:all .3s ease-out;
}
.rslides_tabs li{
    display: inline-block;
}
.rslides_tabs li a{
    background-color: rgba(255,255,255,.3);
    border:solid 2px rgba(0,0,0,0.25);
    display: block;
    margin:.75em;
    border-radius: 300px;
    width:.75em;
    height:.75em;
    text-indent: -9999px;
    transition:all .3s ease-in;
}
/*current dot*/
.rslides_tabs .rslides_here a
{
    background-color: $primary-color;
    border:solid 6px $primary-color;

}

.rslides_tabs li a:hover{
    border-color:$primary-color;
}
/*caption*/
.slider h2{
    position: absolute;
    z-index: 9999;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    margin: 0;
    padding: .2em;
    width:100%;
}
/*
==CSS from responsiveslides.com
*/
.slider {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slider li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slider img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}