
/* TABLES
============================ */


table {
    width: 100%;
    margin-bottom: 15px;
}

table td {
    border: 1px solid #ddd;
    padding: 10px;
}

// table.clean {}

table.clean tbody tr:nth-child(even) td,
table.clean tbody tr:nth-child(even) th {
    background: #fcfcfc;
}

table.clean tbody tr:nth-child(odd) td,
table.clean tbody tr:nth-child(odd) th {
    background: #FFF;
}

table.clean tr td:first-child {
    padding-left: 16px;
}

table.clean tr td:last-child {
    text-align: right;
    padding-right: 16px;
}

table.clean thead td,
table.clean thead th {
    color: #252525;
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
}

table.clean thead tr,
table.clean thead td,
table.clean thead th {
    border: 1px solid #FFF;
    box-shadow: none;
    text-align: left;
}

table.clean thead th {
    border-bottom: 1px solid #bbb;
}

table.clean thead td {
    border-bottom: 1px solid #bbb;
}

table.clean tbody td {
    border-left: none;
    border-right: none;
}

table.clean td {
    padding: 8px;
    font-size: 14px;
}